.dashboard-body{
    -fx-background-image: url("../images/LogoPharmacieBg.png");
    -fx-background-position: 1260px 0px;
    -fx-background-size: 1150px 1100px;
    -fx-background-repeat: no-repeat;
}
.white-background{
    -fx-background-color: white;
}
.dashboard-logo{
    -fx-translate-x: 55px;
    -fx-translate-y: 40px;

}
.dashboard-menu{
    -fx-translate-x: 55px;
    -fx-translate-y: -10px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.dashboard-buttons{
    -fx-translate-x: 20px;
    -fx-translate-y : 21px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-cursor: hand;

}
.dashboard-button{
    -fx-label-padding: 0px 32px;
    -fx-background-color: #f7f7f7;

}
.dashboard-icon{
    -fx-translate-x: -198px;
    -fx-translate-y: 37px;
    -fx-scale-y: 1.3px;
    -fx-scale-x: 1.3px;
}
.pos-icon{
    -fx-translate-x: -198px;
    -fx-translate-y: 37px;
    -fx-scale-y: 1.3px;
    -fx-scale-x: 1.3px;

}
.pos-button{
    -fx-label-padding: 0px 32px;

}
.empolyee-icon{
    -fx-translate-x: -228px;

}
