@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf');
}

.body{
    -fx-background-image: url("../images/LogoPharmacieBg.png");
    -fx-background-position: left;
    -fx-background-size: 1150px 1100px;
    -fx-background-repeat: no-repeat;
}

.myPharma-login{
    -fx-font-family: Poppins, sans-serif;
    -fx-font-size: 64px;
    -fx-translate-x: 0;
    -fx-translate-y: 0;
    -fx-text-alignment: center;
}

.login-button{
    -fx-background-color: #87BFF4;
    -fx-alignment: center-left;
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 30px;
}

.username-field{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-size: 32px;
    -fx-font-family: "Poppins Light";
    -fx-padding: 0 0 0 45px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.12, -1.0, 2.0);

}

.username-field:focus-within{
    -fx-border-color: rgba(59, 217, 59, 0.8);
}


.password-field{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-size: 32px;
    -fx-font-family: "Poppins Light";
    -fx-padding: 0 0 0 45px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.12, -1.0, 2.0);

}
.password-field:focus-within{
    -fx-border-color: rgba(59, 217, 59, 0.8);
}