@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf');
}


.myPharma-login{
    -fx-font-family: Poppins, sans-serif;
    -fx-font-size: 64px;
    -fx-translate-x: 0;
    -fx-translate-y: 0;
    -fx-text-alignment: center;
}
.Login{

}